page-landing {
  //.badge-container {
  //  position: relative;
  //  height: 100%;
  //}
  //
  //.badge {
  //  position: relative;
  //  top: 50%;
  //  transform: perspective(1px) translateY(-50%);
  //}

  .apple-badge {
    margin: 10px auto;
    width: 220px
  }

  .android-badge {
    margin: 10px auto;
    width: 250px;
  }
}