<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-program-select.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="programs && programs.length > 0">
        <ion-grid>
            <ion-row wrap justify-content-center>
                <div *ngFor="let program of programs">
                    <ion-card class="card-row"
                              (click)="selectProgram(program)"
                              *ngIf="program.contract && !program.contract.cancelDate">
                        <div padding>
                            <img src="{{program.imageUri}}" class="card-image" *ngIf="program.imageUri">
                            <img src="{{placeholderImageUri}}" class="card-image" *ngIf="!program.imageUri">
                        </div>
                        <ion-card-content>
                            <div>
                                <h1 text-center>{{program.name}}</h1>
                                <p text-center *ngIf="program">{{program.eventDate | moment}}</p>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>