<ion-card>
    <ion-card-content>
        <form [formGroup]="loginForm">
            <ion-list>
                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.mobilePhone.valid && formControl.mobilePhone.touched) ||
                          formControl.mobilePhone.hasError('notRegistered')">
                    <ion-label floating>{{"login-card.labels.mobilePhone" | translate}}</ion-label>
                    <ion-icon name="phone-portrait" item-left class="floating-label-icon" color="primary"></ion-icon>
                    <ion-input type="tel"
                               [formControl]="formControl.mobilePhone"
                               [(ngModel)]="loginInputs.mobilePhone"
                               (input)="removeNonDigits()">
                    </ion-input>
                </ion-item>
                <div *ngIf="formControl.mobilePhone.hasError('required') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneMinLength" | translate}}
                </div>
                <div *ngIf="formControl.mobilePhone.hasError('minlength') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneMinLength" | translate}}
                </div>
                <div *ngIf="formControl.mobilePhone.hasError('maxlength') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneMaxLength" | translate}}
                </div>
                <div *ngIf="(!formControl.mobilePhone.hasError('minlength')
                            && !formControl.mobilePhone.hasError('maxlength'))
                            && formControl.mobilePhone.hasError('incompletePhoneNumber')
                            && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneIncomplete" | translate}}
                </div>
                <div *ngIf="formControl.mobilePhone.hasError('notRegistered') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.notRegistered" | translate}}
                </div>

                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.password.valid && formControl.password.touched)
                          || formControl.password.hasError('incorrectPassword')">
                    <ion-label floating>{{"login-card.labels.password" | translate}}</ion-label>
                    <ion-icon color="primary" name="key" item-left class="floating-label-icon"></ion-icon>
                    <ion-input type="password"
                               [formControl]="formControl.password"
                               [(ngModel)]="loginInputs.password"></ion-input>
                </ion-item>
                <div *ngIf="formControl.password.hasError('required') && formControl.password.touched"
                     class="icon-error-box">
                    {{"login-card.errors.passwordRequired" | translate}}
                </div>
                <div *ngIf="formControl.password.hasError('incorrectPassword')"
                     class="icon-error-box">
                    {{"login-card.errors.incorrectPassword" | translate}}
                </div>
                <div padding></div>
            </ion-list>

            <ion-row nowrap>
                <button ion-button icon-right block
                        [disabled]="!loginForm.valid"
                        (click)="onSubmit()">
                    {{"page-login.signIn" | translate}}
                    <ion-icon name="log-in"></ion-icon>
                </button>
                <button ion-button icon-only margin-left
                        [disabled]="!formControl.mobilePhone.valid"
                        (click)="fingerprintLogin()"
                        *ngIf="isCordova">
                    <ion-icon name="finger-print"></ion-icon>
                </button>
            </ion-row>

            <button ion-button icon-right clear block
                    (click)="showForgotPasswordCard()">
                {{"page-login.forgotPassword" | translate}}
                <ion-icon name="help"></ion-icon>
            </button>

            <button ion-button icon-right clear block
                    (click)="showCreateAccountCard()">
                {{"page-login.createAccount" | translate}}
                <ion-icon name="create"></ion-icon>
            </button>

        </form>
    </ion-card-content>
</ion-card>