<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!--<ion-title>{{"page-home-tab.title" | translate}}</ion-title>-->
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="36" width="36" margin-right/>
                    </div>
                </div>
                <!--<div *ngIf="program && program.name">{{program.name}} - {{"page-home-tab.title" | translate}}</div>-->
                <!--<div *ngIf="!program || !program.name">{{"page-home-tab.title" | translate}}</div>-->
                {{"page-home-tab.title" | translate}}
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item text-wrap
                  *ngIf="program">
            <ion-thumbnail item-left>
                <img src="{{program.imageUri}}" *ngIf="program.imageUri">
                <img src="{{appLogo}}" class="app-logo-thumbnail-img" *ngIf="!program.imageUri">
            </ion-thumbnail>
            <h1>{{program.name}}</h1>
        </ion-item>
    </ion-card>

    <div *ngIf="program && program.competitionType === COMPETITION_TYPE.GROUP">
        <ion-card *ngIf="participantGroup">
            <ion-item text-wrap>
                <div item-left text-center>
                    <small>{{"page-home-tab.labels.rank" | translate}}</small>
                    <h1>{{participantGroup.rank}}</h1>
                </div>
                <ion-thumbnail item-left *ngIf="participantGroup.imageUri">
                    <img src="{{participantGroup.imageUri}}">
                </ion-thumbnail>
                <h1>{{participantGroup.name}}</h1>
                <div item-right text-center>
                    <div>
                        <small>{{"page-home-tab.labels.points" | translate}}</small>
                    </div>
                    <div>
                        <ion-icon>{{participantGroup.totals.points}}</ion-icon>
                    </div>
                </div>
            </ion-item>
        </ion-card>
    </div>

    <ion-card>
        <ion-list>
            <ion-list-header *ngIf="user && !user.profile.picture">
                <button ion-item text-wrap no-detail
                        (click)="goToProfile()">
                    <ion-icon item-left name="camera" color="primary"></ion-icon>
                    {{"add-image.takePicture" | translate}}!
                </button>
            </ion-list-header>
            <ion-row nowrap align-items-center *ngIf="user">
                <div margin-left text-center *ngIf="ranking > -1">
                    <small>{{"page-home-tab.labels.rank" | translate}}</small>
                    <h1>{{ranking + 1}}</h1>
                </div>
                <button ion-item text-wrap detail-none align-items-center
                        (click)="goToProfile()"
                        *ngIf="user">
                    <ion-avatar item-left class="avatar-large">
                        <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
                        <div *ngIf="!user.profile.picture">
                            <button ion-button icon-only round clear color="primary"
                                    class="disable-hover no-user-image-icon">
                                <ion-icon name="contact"></ion-icon>
                            </button>
                        </div>
                    </ion-avatar>
                    <h2>{{user.profile.name.display}}</h2>
                    <p *ngIf="user && user.emails && user.emails[0]">{{user.emails[0].address}}</p>
                    <div item-right text-center *ngIf="rank && rank.ranking">
                        <div>
                            <small>{{"page-home-tab.labels.points" | translate}}</small>
                        </div>
                        <div>
                            <ion-icon>{{rank.ranking.totalPoints}}</ion-icon>
                        </div>
                    </div>
                </button>
            </ion-row>
        </ion-list>
    </ion-card>

    <component-awards-card [awards]="awards"></component-awards-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"page-home-tab.headers.getReady" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            <p>
                {{"page-home-tab.content.getReady" | translate}}
            </p>
            <ion-list no-lines padding-top>
                <button ion-item text-wrap color="primary" class="ion-item-button" detail-none
                        (click)="myContactList()">
                    <ion-icon name="contacts" item-left></ion-icon>
                    {{"page-contacts-tab.labels.myList" | translate}}
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"page-home-tab.headers.getSet" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            <p *ngIf="program && !program.startTime">
                {{"page-home-tab.content.getSet.notReady" | translate}}
            </p>
            <ion-list no-lines padding-top>
                <button ion-item text-wrap detail-none
                        color="tertiary" class="ion-item-button"
                        [disabled]="program && !program.startTime"
                        (click)="readySetGo()">
                    <ion-icon name="arrow-forward" item-right></ion-icon>
                    <ion-label text-center>
                        {{"page-home-tab.content.getSet.go" | translate}}
                    </ion-label>
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>