<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="36" width="36" margin-right/>
                    </div>
                </div>
                {{"page-rankings-tab.title" | translate}}
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="participantRankings && participantRankings.length > 0">
        <div *ngIf="program.competitionType === COMPETITION_TYPE.GROUP">
            <ion-toolbar>
                <ion-segment [(ngModel)]="selectedSegment" color="primary">
                    <ion-segment-button value="{{COMPETITION_TYPE.INDIVIDUAL}}">
                        {{"page-rankings-tab.segments.individual" | translate}}
                    </ion-segment-button>
                    <ion-segment-button value="{{COMPETITION_TYPE.GROUP}}"
                                        *ngIf="program.competitionType === COMPETITION_TYPE.GROUP">
                        {{"page-rankings-tab.segments.group" | translate}}
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
        </div>

        <div *ngIf="selectedSegment === COMPETITION_TYPE.INDIVIDUAL">
            <ion-card *ngFor="let participant of participantRankings; let i = index;">
                <ion-item text-wrap>
                    <div item-left text-center>
                        <small>{{"page-home-tab.labels.rank" | translate}}</small>
                        <h1>{{i + 1}}</h1>
                    </div>
                    <ion-avatar item-left class="avatar-large">
                        <img src="{{participant.profile.picture}}" *ngIf="participant.profile.picture">
                        <div *ngIf="!participant.profile.picture">
                            <button ion-button icon-only round clear color="primary"
                                    class="disable-hover no-user-image-icon">
                                <ion-icon name="contact"></ion-icon>
                            </button>
                        </div>
                    </ion-avatar>
                    <h1>{{participant.profile.name.display}}</h1>
                    <!--<p>{{participant.emails['0'].address}}</p>-->
                    <div item-right text-center
                         *ngIf="participant.ranking">
                        <small>{{"page-home-tab.labels.points" | translate}}</small>
                        <h1>{{participant.ranking.totalPoints}}</h1>
                    </div>
                    <div item-right text-center
                         *ngIf="!participant.ranking">
                        <small>{{"page-home-tab.labels.points" | translate}}</small>
                        <h1>0</h1>
                    </div>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf="selectedSegment === COMPETITION_TYPE.GROUP">
            <div *ngIf="programGroups && programGroups.length > 0">
                <ion-card *ngFor="let group of programGroups">
                    <ion-list>
                        <ion-list-header no-padding>
                            <ion-item text-wrap>
                                <div item-left text-center>
                                    <small>{{"page-home-tab.labels.rank" | translate}}</small>
                                    <h1>{{group.rank}}</h1>
                                </div>

                                <ion-thumbnail item-left *ngIf="group.imageUri">
                                    <img src="{{group.imageUri}}">
                                </ion-thumbnail>
                                <h1>{{group.name}}</h1>
                                <div item-right text-center *ngIf="group.totals">
                                    <small>{{"page-home-tab.labels.points" | translate}}</small>
                                    <h1>
                                        {{group.totals.points}}
                                    </h1>
                                </div>
                            </ion-item>
                        </ion-list-header>

                        <div *ngIf="group.members && group.members.length > 0">
                            <div *ngFor="let participant of group.members">
                                <button ion-item text-wrap detail-none>
                                    <ion-avatar item-left class="avatar-large">
                                        <img src="{{participant.profile.picture}}"
                                             *ngIf="participant.profile.picture">
                                        <div *ngIf="!participant.profile.picture">
                                            <button ion-button icon-only round clear color="primary"
                                                    class="disable-hover no-user-image-icon">
                                                <ion-icon name="contact"></ion-icon>
                                            </button>
                                        </div>
                                    </ion-avatar>
                                    <h1>{{participant.profile.name.display}}</h1>
                                    <div item-right>
                                        {{participant.ranking.totalPoints}}
                                    </div>
                                </button>
                            </div>
                        </div>
                    </ion-list>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>