<ion-card>
    <ion-card-header>
        <h1>{{"component-awards-card.title" | translate}}</h1>
    </ion-card-header>
    <ion-grid no-padding>
        <ion-row wrap align-items-start margin-bottom *ngIf="awards && awards.length > 0">
            <ion-col text-center width-25 *ngFor="let award of awards">
                <div class="award-progress">
                    <button ion-button clear large
                            (click)="openAwardProgressModal(award)">
                        <img src="{{award.imageUri}}" [style.opacity]="(award.progress < 1)? 0.2:1"/>
                    </button>
                    <div #awardProgressBar [attr.id]="award.key" *ngIf="award.progress < 1"></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>