// http://ionicframework.com/docs/v2/theming/

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.

// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$color-primary: #DD0A16;

$colors: (
        navbar: $color-primary,
        primary: $color-primary,
        secondary: #478aff,
        tertiary: #32db64,
        danger: #F9A832, //#f53d3d,
        light: #f4f4f4,
        dark: #222,
        favorite: #69BB7B,
        white: white,
        google: #dd4b39,
        facebook: #3b5998
);

$background-color: #c0c0c0;

@each $color in $colors {
  [background-color="#{nth($color, 1)}"] {
    background-color: #{nth($color, 2)};
  }
}
