<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="36" width="36" margin-right/>
                    </div>
                </div>
                {{"page-contacts-tab.title" | translate}}
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            <h1 text-center padding-top padding-bottom *ngIf="program && program.scripts">
                {{program.scripts.callToAction}}
            </h1>

            <div *ngFor="let contactButton of contactButtons">
                <button ion-item text-wrap color="primary" class="ion-item-button" detail-none
                        (click)="getContactInfo(contactButton.method)">
                    <ion-icon name="{{contactButton.icon}}" item-left></ion-icon>
                    {{"page-contacts-tab.labels." + contactButton.method | translate}}
                </button>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>