<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="36" width="36" margin-right/>
                    </div>
                </div>
                {{"page-info-tab.title" | translate}}
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <component-awards-card [awards]="awards"></component-awards-card>

    <ion-card *ngIf="user && user.totals">
        <ion-card-header>
            <h1>{{"page-follow-ups-tab.activity" | translate}}</h1>
        </ion-card-header>
        <ion-list>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.calls" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.calls}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.texts" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.texts}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.commitments" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.commitments}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.purchases" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.purchased}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                <ion-label ion-text>
                    {{"page-info-tab.labels.commitmentSales" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.sales.commitment | currency:'USD':'symbol-narrow'}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap  *ngIf="program.contract.profitPercent">
                <ion-label ion-text>
                    {{"page-info-tab.labels.commitmentProfit" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.sales.commitmentProfit | currency:'USD':'symbol-narrow'}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="!program.contract.profitPercent">
                <ion-label ion-text>
                    {{"page-info-tab.labels.purchasedSales" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.sales.purchased | currency:'USD':'symbol-narrow'}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="program.contract.profitPercent">
                <ion-label ion-text>
                    {{"page-info-tab.labels.purchasedProfit" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.sales.purchasedProfit | currency:'USD':'symbol-narrow'}}
                    </ion-label>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card *ngIf="user && user.totals">
        <ion-card-header>
            <h1>{{"page-info-tab.headers.points" | translate}}</h1>
        </ion-card-header>
        <ion-list>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.calls" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.points.call}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.texts" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.points.text}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.commitments" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.points.commitment}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"page-info-tab.labels.purchases" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{user.totals.points.paid}}
                    </ion-label>
                </div>
            </ion-item>
            <!--Award Points-->
            <ion-item text-wrap>
                <ion-label ion-text>
                    {{"awards.registration.title" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{program.eventPoints.registration}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="programEventPoints && programEventPoints.contactListGoal">
                <ion-label ion-text>
                    {{"awards.contactList.title" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{programEventPoints.contactListGoal}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="programEventPoints && programEventPoints.contactGoal">
                <ion-label ion-text>
                    {{"awards.communication.title" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{programEventPoints.contactGoal}}
                    </ion-label>
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="programEventPoints && programEventPoints.salesGoalAward">
                <ion-label ion-text>
                    {{"awards.sales.title" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text>
                        {{programEventPoints.salesGoalAward}}
                    </ion-label>
                </div>
            </ion-item>
            <!--Total Points-->
            <ion-item text-wrap>
                <ion-label text-uppercase ion-text color="primary">
                    {{"page-info-tab.labels.totalPoints" | translate}}
                </ion-label>
                <div item-right>
                    <ion-label ion-text color="primary">
                        {{user.totals.totalPoints}}
                    </ion-label>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>